@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div id="LoginContainer" class="LoginMain">
    <h2>Username</h2>
    <asp:TextBox runat="server" ID="tb_Username" text="Username here" typeof="text" />
    <h2>Password</h2>
    <asp:TextBox runat="server" ID="tb_Password" text="Username here" typeof="text"/>
    <asp:Button runat="server" id="btn_LoginButton" OnClick="LoginButtonClick" type="button" />
</div>
